<ul class="nav body justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="electronics">Electronics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="mobiles-tablets">Mobiles&Tablets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="moms-babies">Moms&Babies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="toys">Toys</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="health-beauty">Health&Beauty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="appliances">Appliances</a>
    </li>
  </ul>