<div class="container mt-5">
    <h1 class="text-center">Sign Up</h1>

    <form #f="ngForm" (ngSubmit)="signup(f)">

        <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name is required</div>

        <div class="alert-icon alert-icon-one">
            <img src="../../assets/user.png" alt="user">
            <input placeholder="Your name" class="name form-control" ngModel name="name" #name="ngModel" required>
        </div>

        <div class="alert-icon alert-icon-two">
            <img src="../../assets/mail.png" alt="">
            <input type="email" class="email form-control" placeholder="Email" ngModel name="email" #email="ngModel" required email>
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Email is required</div>

        <div class="alert-icon">
            <img src="../../assets/password.png" alt="password">
            <input type="password" placeholder="Password" class="form-control" ngModel name="password" #password="ngModel" required minlength="6">
        </div>
        <div class="alert alert-danger" *ngIf="password.invalid && password.touched">Password is required</div>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">Password should be 6+ charachters</div>

        <div class="alert-icon">
            <img src="../../assets/password.png" alt="confirmPassword">
            <input type="password" placeholder="Confirm Password" class="form-control" ngModel name="confirmPassword" #confirmPassword="ngModel" required>
        </div>
        <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">Confirm Password is required</div>
        <div class="alert alert-danger" *ngIf="confirmPassword.value !== password.value && confirmPassword.touched">Not match</div>

        <div class="alert-icon">
            <img src="../../assets/address.png" alt="address">
            <input placeholder="Address" class="form-control" ngModel name="address" #address="ngModel" required>
        </div>
        <div class="alert alert-danger" *ngIf="address.invalid && address.touched">Address is required</div>

        <button class="btn btn-primary" [disabled]="f.invalid || confirmPassword.value !== password.value">Sign Up</button><br>
        <div class="alert alert-danger invalid-alert" *ngIf="errorMessage">{{ errorMessage }}</div>

    </form>

</div>
